.Card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardImage {
  width: 12vw;
  object-fit: cover;
}

.CardAgent {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 8rem;
  height: 7rem;
  transform: translatex(-50%);
  background-size: 100%;
  background-repeat: no-repeat;
}

.Card .CardType {
  position: absolute;
  top: 34%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 0.8vw;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.5);
}

.CardWord {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4vw;
  font-weight: 900;
}
