.Home {
  background: var(--base);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  --dot-bg: #232323;
  --dot-color: #121212;
  --dot-size: 3px;
  --dot-space: 30px;
  background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), var(--dot-color);
}

.Title {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}

.InputContainer input {
  margin: 1rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
}

.InputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputContainer button {
  width: 5rem;
  height: 5rem;
  font-size: 1.5rem;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button {
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #f5f5f5;
  color: #222;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.Link {
  text-decoration: none;
}

.Spymaster {
  background: linear-gradient(135deg, #ff4e18 0%, #ed8744 100%);
  color: #fff;
}

.Operative {
  background-color: #f3e1c7;
  color: #222222;
}
